@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f06292;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #3c424a;
  border-radius: 5px;
  width: 600px;
  min-height: 700px;
  font-size: 1.5rem;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-container button {
  height: 5rem;
  width: 5rem;
  font-family: inherit;
  font-size: 3rem;
  font-weight: 200;
  color: #6e7777;
  background: transparent;
  border: none;
}

.date-container button:focus {
  outline-style: none;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
  padding: 2rem;
}

.date h2 {
  color: #dee4e9;
  font-weight: 500;
}

.date h3 {
  color: #6e7777;
  font-weight: 400;
  font-size: large;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form input[type="text"] {
  background: #343a40;
  border: 1px solid #2c3035;
  border-radius: 3px;
  color: #fff;
  font-family: inherit;
  font-size: 1.25rem;
  height: 3rem;
  width: 80%;
}

form input:focus {
  outline-style: none;
}

.top {
  width: 80%;
  border-bottom: 1px solid #2c3035;
  /* list-style-image: url("pin.png"); */
  list-style: none;
  font-size: 1rem;
  position: relative;
}

/* 在 li 前面增加一個偽元素，背景圖片設為圖釘 */
.top li::before {
  content: "";
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0.25rem;
  background-image: url("pin.png");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2rem;
}

.tasks {
  width: 80%;
  list-style-type: none;
  font-size: 1rem;
}

li {
  color: rgb(255, 255, 255);
  padding: 0.25rem 0;
  margin: 1rem auto;
  cursor: default;
  /* 用 flex 會讓 list style 不見，所以改用 position: absolute 的方式讓 .menu-btn 向右靠齊 */
  /* 然後發現用 list-style-image 的話，沒辦法控制圖片大小，所以改用 li::break-before */
  /* display: flex;
  justify-content: space-between; */
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
}

li button {
  background: transparent;
  border: none;
  color: inherit;
}

li button:focus {
  outline-style: none;
}

.menu-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.menu-btn i {
  font-size: 1.5rem;
}

.menu {
  position: absolute;
  right: -0.5rem;
  top: 2.25rem;
  background: #4c525a;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}

.hide {
  display: none;
}

.menu-arrow {
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-top: 0.5rem solid #4c525a;
  border-right: 0.5rem solid #4c525a;
  transform: rotate(315deg);
  position: absolute;
  right: 0.75rem;
  top: -0.25rem;
}

.menu button {
  font-family: inherit;
  font-size: inherit;
  color: #94aaaa;
}

.menu i {
  margin: 0rem 0.5rem;
}

.complete {
  text-decoration: line-through;
  color: rgb(155, 154, 154);
}

/* li input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;

  background-color: #3f454d;
  color: #3f454d;
  border: 1px solid #2c3035;
  border-radius: 3px;
} */
